@use "../variables.scss" as v;
@use "../mixins.scss" as m;
.currency-switcher-container {
    position: absolute;
    left: 15px;
    top: 40px;
    background-color: v.$bgcolor;
    filter: v.$drop-shadow;

    &__items {
        white-space: nowrap;
        list-style: none;
        padding: 20px 38px 20px 20px;
    }

    &__item + &__item {
        padding-top: 22px;
    }

    &__button {
        @include m.clear-btn-styles;
        cursor: pointer;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;

        &:hover {
            text-decoration: underline;
        }
    }
}
