@use "../variables.scss" as v;
@use "../mixins.scss" as m;

.currency-switcher-container {
    position: absolute;
    left: 40px;
    top: 40px;
    background-color: v.$bgcolor;
    filter: v.$drop-shadow;

    &__items {
        white-space: nowrap;
        list-style: none;
        padding: 20px 0 20px 0;
    }

    &__item > button {
        @include m.clear-btn-styles;
        cursor: pointer;
        color: v.$c-black;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        display: flex;
        justify-items: center;
        padding-left: 20px;
        padding-block: 10px;
        width: 115px;

        &:hover {
            background-color: v.$c-currency-switcher-hover;
        }
    }
}
